{% extends "Layout.html.twig" %}

{% block title %}- Dashboard
{% endblock %}

{% block head %}
	{{ parent() }}

{% endblock %}
{% block content %}
	{{ parent()}}
{% endblock %}

{% block corpo %}
	<h4 class="text mb-4" style="color: #006c3a">SCE - APONTAMENTO</h4>
	<div class="row col-md-12" style="background-color: #fff;padding-bottom: 30px;padding-top: 30px;padding-left: 20px;padding-right: 20px">
		<form id="form" name="form" class="form col-md-12" method="POST" enctype="multipart/form-data">
			<label for="codigoPalete">Código do palete:</label>
			<div id="aviso"></div>
			<input autofocus="" required="" name="codigo" type="text" class="form-control" placeholder="Use o leitor de código de barras.." id="codigo"/>

			<button type="submit" class="col-md-12 btn btn-success" style="margin-top: 20px;">Avançar</button>
			<a href="/sce/public_html/" class="col-md-12 btn btn-warning" style="margin-top: 20px;color: #fff">
				<i class="fa fa-window-close-o" aria-hidden="true"></i>
				Cancelar</a>
		</form>
	</div>
	<div id="modalSalvarApontamento" class="modal fade " role="dialog" data-keyboard="false" data-backdrop="static">
		<div
			class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<br/>
					<br/>
					<br/>
					<center>
						<i class="fa fa-spinner fa-spin fa-5x"></i>
					</center>
					<center>
						Realizando apontamento
					</center>
					<br/>
					<br/>
					<br/>
				</div>
			</div>
		</div>
	</div>
	<div id="modalSucessoSalvarApontamento" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body">
					<br/>
					<center>
						Apontamento realizado com sucesso!
					</center>
					<br/>
					<center>
						<a type="button" href="/sce/public_html/apontar" class="btn btn-success">OK</a>
					</center>
				</div>
			</div>

		</div>

	</div>
	<div id="modalFalhaSalvarApontamento" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body">
					<br/>
					<center>
						Falha ao realizar apontamento!
					</center>
					<br/>
					<center>
						<a type="button" href="/sce/public_html/apontar" class="btn btn-danger">OK</a>
					</center>
				</div>
			</div>

		</div>
	</div>
	<div id="modalApontamentoExistente" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<br/>
					<center>
						Atenção! Código já utilizado. Verifique o status do código!
					</center>
					<br/>
					<center>
						<a type="button" href="/sce/public_html/" class="btn btn-warning">OK</a>
					</center>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
	{{ parent() }}
{% endblock %}
{% block js %}
	{{ parent() }}
	<script src="js/apontamento.js" type="text/javascript"></script>
{% endblock %}
