{% extends "Layout.html.twig" %}

{% block title %}- Dashboard
{% endblock %}

{% block head %}
	{{ parent() }}

{% endblock %}
{% block content %}
	{{ parent()}}
{% endblock %}

{% block corpo %}

	<h4 class="text mb-4" style="color: #006c3a">SCE - SISTEMA DE CONTROLE DE EMBALAGEM</h4>
	<div class="row col-md-12" style="background-color: #fff;padding-bottom: 30px;padding-top: 30px;padding-left: 20px;padding-right: 20px">
		<div class="col-xl-4 col-sm-4 mb-4">
			<div class="card text-white bg-success o-hidden h-100">
				<div class="card-body">
					<div class="card-body-icon">
						<i class="fa fa-fw fa-location-arrow"></i>
					</div>
					<div class="mr-5">APONTAMENTO</div>
				</div>
				<a class="card-footer text-white clearfix small z-1" href="/sce/public_html/apontar">
					<span class="float-left">Realizar apontamento</span>
					<span class="float-right">
						<i class="fa fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>

		<div class="col-xl-4 col-sm-4 mb-4">
			<div class="card text-white bg-danger o-hidden h-100">
				<div class="card-body">
					<div class="card-body-icon">
						<i class="fa fa-fw fa-cart-arrow-down"></i>
					</div>
					<div class="mr-5">EXPEDIÇÃO</div>
				</div>
				<a class="card-footer text-white clearfix small z-1" href="/sce/public_html/expedir">
					<span class="float-left">Realizar expedição</span>
					<span class="float-right">
						<i class="fa fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>
		<div class="col-xl-4 col-sm-4 mb-3">
			<div class="card text-white bg-secondary  o-hidden h-100">
				<div class="card-body">
					<div class="card-body-icon">
						<i class="fa fa-fw fa-undo"></i>
					</div>
					<div class="mr-5">RETORNO DE MATERIAL</div>
				</div>
				<a class="card-footer text-white clearfix small z-1" href="/sce/public_html/retorno">
					<span class="float-left">Realizar retorno</span>
					<span class="float-right">
						<i class="fa fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
	{{ parent() }}
{% endblock %}
{% block js %}
	{{ parent() }}
{% endblock %}
