<html>
    <head>
        <title>Sistema de Controle de Embalagem - Login</title>
       <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/> 
        <link href="css/estiloLogin.css" rel="stylesheet" type="text/css"/> 
        <link rel="shortcut icon" href="../images/ico/logo01.png"> 
        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
        <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>

        <script src="js/login.js" type="text/javascript"></script> 
        <script src="js/funcaoLogar.js" type="text/javascript"></script> 
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
    </head>
    <body style="background:#fff">

        <div class="login-page">

            <div class="form">
                <div class="col-md-12 ">

                    <div class="avatar" style="margin-bottom: 20px;"><a href="/sga/public_html/"><img  class="img-responsive text-center" src="images/logo.jpg"></a></div>

                </div>
                <form  class="login-form"  method="post">
                    <!--><form action="/validaLogin" class="login-form" method="post"> <!-->
                    <input autofocus="" type="text" name="email" id="email" placeholder="Usuário"/>
                    <input type="password" name="senha" id="senha" placeholder="Senha"/>
                    <h2 id="aviso" style="color: #ff0000;font-size: 16px;"></h2>
                    <button style="background:#006c3a"><b>LOGAR</b></button>
                </form>
                <div id="output"></div>

            </div>
        </div>    
    </body>
</html>
