{% extends "Layout.html.twig" %}

{% block title %}- Dashboard
{% endblock %}

{% block head %}
	{{ parent() }}
	<link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

{% endblock %}
{% block content %}
	{{ parent()}}
{% endblock %}

{% block corpo %}
	<h4 class="text mb-4" style="color: #006c3a">SCE - RETORNO</h4>

	<div class="row col-md-12" style="background-color: #fff;padding-bottom: 30px;padding-top: 30px;padding-left: 20px;padding-right: 20px">
		<form id="formExpedir" name="formExpedir" class="form col-md-12" method="POST" enctype="multipart/form-data">
			<label for="codigoPalete">Código do material:</label>
			<div id="aviso"></div>
			<input autofocus="" required="" name="codigo" type="text" class="form-control" placeholder="Use o leitor de código de barras.." id="codigo"/>

			<button class="col-md-12 btn btn-success" style="margin-top: 20px;">Avançar</button>
			<a href="/sce/public_html/" class="col-md-12 btn btn-warning" style="margin-top: 20px;color: #fff">
				<i class="fa fa-window-close-o" aria-hidden="true"></i>
				Cancelar</a>
		</form>
	</div>

	<div class="modal fade" id="confirmarExpedicao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-center" id="exampleModalLabel">Retorno de material</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="formConfirmarExpedir" name="formConfirmarExpedir" class="form" method="POST" enctype="multipart/form-data">

						<div id="corpoFormulario"></div>
						<input id="valoresRetornar" name="valoresRetornar" hidden="">

						<button  type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" style="margin-top: 5px;color: #C82333;margin-left:5x;float: right">Cancelar</button>
						<button  disabled="true" id="botaoRetornar" type="submit" class=" btn btn-primary" style="margin-top: 5px;margin-right:15px;float: right">Expedir</button>

					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="sucesso" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body">
					<br/>
					<center>
						Operação realizada com sucesso!
					</center>
					<br/>
					<center>
						<a type="button" href="/sce/public_html/expedir" class="btn btn-success">OK</a>
					</center>
				</div>
			</div>

		</div>

	</div>
	<div id="falha" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body">
					<br/>
					<center>
						Falha ao realizar operação!
					</center>
					<br/>
					<center>
						<a type="button" href="/sce/public_html/expedir" class="btn btn-danger">OK</a>
					</center>
				</div>
			</div>

		</div>
	</div>

{% endblock %}
{% block footer %}{% endblock %}
{% block js %}
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/tether/dist/js/tether.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="node_modules/chart.js/dist/Chart.min.js"></script>
	<script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
	<script src="js/off-canvas.js"></script>
	<script src="js/hoverable-collapse.js"></script>
	<script src="js/misc.js"></script>
	<script src="js/chart.js"></script>
	<script src="js/maps.js"></script>
	<script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
	<script src="node_modules/tether/dist/js/tether.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="node_modules/chart.js/dist/Chart.min.js"></script>
	<script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
	<script src="js/off-canvas.js"></script>
	<script src="js/hoverable-collapse.js"></script>
	<script src="js/misc.js"></script>
	<script src="js/chart.js"></script>
	<script src="js/maps.js"></script>
	<script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/popper/popper.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="vendor/chart.js/Chart.min.js"></script>
	<script src="vendor/datatables/jquery.dataTables.js"></script>
	<script src="vendor/datatables/dataTables.bootstrap4.js"></script>
	<!-- Custom scripts for this template -->

	<script src="js/sb-admin.min.js"></script>
	<script src="js/retorno.js"></script>
{% endblock %}
