{% extends "Layout.html.twig" %}

{% block title %}- Dashboard
{% endblock %}

{% block head %}
	{{ parent() }}
	<link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

{% endblock %}
{% block content %}
	{{ parent()}}
{% endblock %}

{% block corpo %}
	<h4 class="text mb-4" style="color: #006c3a">SCE - RETORNO DE MATERIAL</h4>
	{% if apontamentos != null %}
		<div class="table-responsive" style="background-color: #fff;padding-top: 30px;padding-bottom: 30px">
			<table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
				<thead>
					<tr>
						<th>
							<center>Id Apontamento</center>
						</th>
						<th>
							<center>Código</center>
						</th>
						<th>
							<center>Data Expedição</center>
						</th>
						<th>
							<center>Ações</center>
						</th>

					</tr>
				</thead>
				<tbody>
					{% for dado in apontamentos %}
						<tr>
							<td class="text-left">{{dado.idApontamento}}</td>
							<td class="text-center">{{dado.codigo}}</td>
							<td class="text-center">{{dado.data | date ('d/m/Y H:i')}}</td>
							<td class="text-center">

								<a onclick="retornar('{{dado.idApontamento}}', '{{dado.codigo}}' )" title="Retornar material/embalagem" style="text-decoration: none;color: #2F4F4F">
									<button type="button" title="Retornar material/embalagem" class="btn btn-primary btn-sm" style="color: #fff">
										<i class="fa fa-undo" aria-hidden="true"></i>
									</button>
								</a>

							</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<br>
		<br>
	{% else %}
		<div class="alert alert-danger animated fadeInUp">
			<center>Sem apontamentos!</center>
		</div>
	{% endif %}
	<div class="modal fade" id="confirmarRetorno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-center" id="exampleModalLabel">Retorno material</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="formRetorno" name="formRetorno" class="form" method="POST" enctype="multipart/form-data">
						<br>
						<label for="idApontamento">Id apontamento</label>
						<input name="idApontamento" readonly="" type="text" class="form-control" id="idApontamento"/>
						<label for="codigo">Código</label>
						<input name="codigo" readonly="" type="text" class="form-control" id="codigo"/>
						<label for="saldo">Retorno com material? </label>
						<select class="form-control" name="saldo" id="saldo">
						<option class="form-control" value="0">Vazio</option>
						<option  class="form-control" value="1">Contém produto</option>
						</select>
						<br>
						<label for="nomeDesativar">Deseja realmente expedir o material?</label>
						<div>
							<button style="right" type="button" class="btn btn-dark" data-dismiss="modal" aria-label="Close" style="margin-top: 5px;color: #fff">Cancelar</button>
							<button style="right" type="submit" class=" btn btn-primary" style="margin-top: 5px;">Retornar</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="modalSucesso" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body">
					<br/>
					<center>
						Operação realizada com sucesso!
					</center>
					<br/>
					<center>
						<a type="button" href="/sce/public_html/expedir" class="btn btn-success">OK</a>
					</center>
				</div>
			</div>

		</div>

	</div>
	<div id="modalFalhaSalvarApontamento" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body">
					<br/>
					<center>
						Falha ao realizar operação!
					</center>
					<br/>
					<center>
						<a type="button" href="/sce/public_html/expedir" class="btn btn-danger">OK</a>
					</center>
				</div>
			</div>

		</div>
	</div>

{% endblock %}
{% block footer %}{% endblock %}
{% block js %}
			<script src="node_modules/jquery/dist/jquery.min.js"></script>
			<script src="node_modules/tether/dist/js/tether.min.js"></script>
			<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
			<script src="node_modules/chart.js/dist/Chart.min.js"></script>
			<script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
			<script src="js/off-canvas.js"></script>
			<script src="js/hoverable-collapse.js"></script>
			<script src="js/misc.js"></script>
			<script src="js/chart.js"></script>
			<script src="js/maps.js"></script>
			<script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="node_modules/tether/dist/js/tether.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
<script src="js/off-canvas.js"></script>
<script src="js/hoverable-collapse.js"></script>
<script src="js/misc.js"></script>
<script src="js/chart.js"></script>
<script src="js/maps.js"></script>
<script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/chart.js/Chart.min.js"></script>
<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for this template -->

<script src="js/sb-admin.min.js"></script>
<script src="js/retorno.js"></script>{% endblock %}
